.navbar{
  height: 50px;
  background-color:#003580 ;
  display: flex;
  justify-content: center;

}
.navContainer{
  width: 100%;
  max-width: 1440px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}