.searchItem {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.siDesc{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
  
}
.siTitle{
  font-size: 20px;
  color: var(--booking_light_blue);

}
.siDetails{
  flex: 1;
}

.siDistance{
  font-size: 12px;
}
.siTaxiOp{
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;

}
.siSubtitle{
  font-size: 12px;
  font-weight: bold;
}