.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;




}
.close-icon{
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  
}
.lContainer {
  min-width: none;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}
.lSignup{

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lError{
  color: red;
 text-align: center;
}
.lnewUser{
  color: black;
 text-align: center;
 text-transform: lowercase;
  
}

@media screen and (min-width: 320px) {
  .lInput{
    height: 20px;
    padding: 10px;
  }
  .login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
  }

  .lContainer {
    min-width: none;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 
}


@media screen and (min-width: 700px) {
  .lInput{
    height: 20px;
    padding: 15px;
  }
  .login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
  }

  .lContainer {
    min-width: none;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .lButton {
    border: none;
    padding: 15px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
}


@media screen and (min-width: 1024px) {
  .lInput{
    height: 20px;
    padding: 15px;
  }
  .login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
  }

  .lContainer {
    min-width: none;
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .lButton {
    border: none;
    padding: 15px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
}